In [2]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [3]:
#importar dados
dataset = pd.read_csv("dados/tempo.csv", sep=";")
#visulizar
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [4]:
dataset.shape

(14, 5)

In [5]:
#explorar dados categoricos
#estado
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [6]:
#padroniza de acordo com o dominio
dataset.loc[dataset['Aparencia'] ==  'menos', 'Aparencia'] = "sol"

In [8]:
#explorar dados categoricos
#estado
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [10]:
#explorar colunas num√©ricas
#temperatura
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [11]:
#visualizar 
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [12]:
mediana = sts.median(dataset['Temperatura'])
mediana

73.5

In [13]:
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130), 'Temperatura' ] = mediana

In [14]:
dataset['Temperatura']

0     85.0
1     80.0
2     83.0
3     70.0
4     68.0
5     65.0
6     64.0
7     73.5
8     69.0
9     75.0
10    75.0
11    72.0
12    81.0
13    71.0
Name: Temperatura, dtype: float64

In [18]:
dataset['Umidade']

0      85.0
1      90.0
2      86.0
3       NaN
4      80.0
5      70.0
6      65.0
7      73.5
8      70.0
9     200.0
10     70.0
11     90.0
12     75.0
13     91.0
Name: Umidade, dtype: float64

In [20]:
dataset['Umidade'].isnull().sum()

1

In [19]:
mediana = sts.median(dataset['Umidade'])
mediana

82.5

In [18]:
dataset['Umidade'].fillna(mediana, inplace=True)

In [22]:
dataset['Umidade'].isnull().sum()

0

In [16]:
dataset.loc[(dataset['Umidade'] <  0 )  | ( dataset['Umidade'] >  100), 'Umidade' ] = mediana

In [19]:
dataset['Umidade']

0     85.0
1     90.0
2     86.0
3     73.5
4     80.0
5     70.0
6     65.0
7     95.0
8     70.0
9     73.5
10    70.0
11    90.0
12    75.0
13    91.0
Name: Umidade, dtype: float64

In [20]:
agrupado = dataset.groupby(['Vento']).size()
agrupado

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [23]:
dataset['Vento'].isnull().sum()

1

In [24]:
dataset['Vento'].fillna('FALSO', inplace=True)

In [21]:
agrupado = dataset.groupby(['Jogar']).size()
agrupado

Jogar
nao    5
sim    9
dtype: int64

In [26]:
dataset['Jogar'].isnull().sum()

0

In [25]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     73.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6        sol         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     73.5       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao